<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OKP1_Stationeers_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OKP1_Stationeers_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <OKP1_Stationeers_Editor.Properties.Settings>
            <setting name="RecipeDataETag" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecipeDataRefreshedAt" serializeAs="String">
                <value/>
            </setting>
        </OKP1_Stationeers_Editor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OKP1_Stationeers_Editor.Properties.Settings>
            <setting name="LockerSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MachinePrefabs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>StructureElectronicsPrinter</string>
                        <string>StructureFabricator</string>
                        <string>StructureHydraulicPipeBender</string>
                        <string>StructureAutolathe</string>
                        <string>StructureToolManufactory</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecipeDataUrl" serializeAs="String">
                <value>https://data.stationeering.com/recipes/public.json</value>
            </setting>
        </OKP1_Stationeers_Editor.Properties.Settings>
    </applicationSettings>
</configuration>
